
#Tabela {
    display: flex;
    justify-content: center;
    background-color: rgba(136, 135, 129, 0.664);
}

#Tabela h2 {
    display: flex;
    justify-content: center;
}

#Tabela th {
    color: white;
}

#Tabela table {
    border-collapse: collapse;
 
}

#Tabela th, td {
    display: flex;
    justify-content: center;
    padding: 10px;
  
}
#Tabela thead tr {
    border-bottom: 2px solid white;

}
#Tabela tbody tr:hover {
    background-color: whitesmoke;

}